In [5]:
import pandas as pd,numpy as np
import os,gc, pickle
import warnings
warnings.filterwarnings('ignore')

In [6]:
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
f_b = pd.read_pickle('./p_d/envB.pkl')
f_c = pd.read_pickle('./p_d/envC.pkl')
f_d = pd.read_pickle('./p_d/envD.pkl')
f_e = pd.read_pickle('./p_d/envE.pkl')

plant_data = pd.read_pickle('./p_d/Plant-data.pkl')

In [8]:
def reform_table(data):
    data.reset_index().drop('index',axis=1)
    data['parts'].unique().tolist()
    df = pd.DataFrame(columns=data['parts'].unique().tolist())
    
    for i in range(int(data.shape[0]/9)):
        df.loc[i,'w_of_y'] = data['w_of_y'].iloc[i*9+0]
        df.loc[i,'plant_id'] = data['plant_id'].iloc[i*9+0]
        df.loc[i,'초장'] = data['values'].iloc[i*9+0]
        df.loc[i,'엽장'] = data['values'].iloc[i*9+1]
        df.loc[i,'엽폭'] = data['values'].iloc[i*9+2]
        df.loc[i,'엽병장'] = data['values'].iloc[i*9+3]
        df.loc[i,'엽수'] = data['values'].iloc[i*9+4]
        df.loc[i,'관부직경'] = data['values'].iloc[i*9+5]
        df.loc[i,'화방 꽃수(소화수)'] = data['values'].iloc[i*9+6]
        df.loc[i,'착과수'] = data['values'].iloc[i*9+7]
        df.loc[i,'최종화방차수'] = data['values'].iloc[i*9+8]

    data = data.drop(['parts','unit','values'],axis=1)
    data = data.drop_duplicates().reset_index().drop('index',axis=1)
    
    data = data.merge(df,on=['w_of_y','plant_id'],how='left')
    data['d_of_w'] = data['checkdate'].apply(lambda x:pd.Period(x).day_of_week)
    return data

In [9]:
t_plant_data = plant_data[plant_data['farm_id']=='B농가']
t_plant_data

     farm_id  wks  checkdate  plant_id       parts unit  values  w_of_y
0        B농가    4   20231006         1          초장   mm  255.00      40
1        B농가    4   20231006         1          엽장   mm   79.00      40
2        B농가    4   20231006         1          엽폭   mm   70.00      40
3        B농가    4   20231006         1         엽병장   mm  139.00      40
4        B농가    4   20231006         1          엽수    개    5.00      40
...      ...  ...        ...       ...         ...  ...     ...     ...
2416     B농가   33   20240424         9          엽수    개   11.00      17
2417     B농가   33   20240424         9        관부직경   mm   21.65      17
2418     B농가   33   20240424         9  화방 꽃수(소화수)    개    1.00      17
2419     B농가   33   20240424         9         착과수    개    2.00      17
2420     B농가   33   20240424         9      최종화방차수    차    4.00      17

[2421 rows x 8 columns]

In [10]:
data = reform_table(t_plant_data)
data.to_pickle('./p_d/B_plant.pkl')